@use 'scssVariables' as *;

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: clip;
}

main {
  flex-grow: 1;
}

svg {
  display: block;
  overflow: visible;
}

svg:not(:root) {
  overflow: visible;
}
